In [ ]:
#Note :- Sir i have replaced {language, logic, and surroundings} with {Physics, Chemistry, Mathematics} 
#because of better understanding

In [ ]:
# Name:- Rahul Madheshiya
# class: Robotics and Automation
# Roll No.: 124111009
# mob No. 9877511146

In [45]:
import random
s = ["Physics", "Chemistry", "Mathematics"]
d = {}
for sb in s:
    mk = []
    for i in range(20):
        mk.append(random.randint(0, 100))
    d[sb] = mk
print(f"Marks of 20 students:\n {d}")

Marks of 20 students:
 {'Physics': [79, 47, 72, 66, 60, 69, 13, 26, 72, 10, 45, 25, 79, 85, 69, 66, 68, 22, 68, 99], 'Chemistry': [96, 91, 87, 51, 89, 22, 51, 99, 95, 55, 61, 7, 65, 80, 97, 49, 93, 78, 66, 14], 'Mathematics': [10, 82, 48, 60, 48, 77, 11, 65, 27, 17, 5, 41, 98, 46, 36, 89, 20, 68, 76, 51]}

In [ ]:
import pandas as pd
df= pd.DataFrame(d)
print(df)

    Physics  Chemistry  Mathematics
0        79         96           10
1        47         91           82
2        72         87           48
3        66         51           60
4        60         89           48
5        69         22           77
6        13         51           11
7        26         99           65
8        72         95           27
9        10         55           17
10       45         61            5
11       25          7           41
12       79         65           98
13       85         80           46
14       69         97           36
15       66         49           89
16       68         93           20
17       22         78           68
18       68         66           76
19       99         14           51

In [60]:
# for mean median and mode
print(f"mean is :\n{df.mean()}")
print(f"median is :\n{df.median()}")
print(f"mode is :\n{df.mode().iloc[0]}")#because it is print some NaN value

mean is :
Physics        57.00
Chemistry      67.30
Mathematics    48.75
dtype: float64
median is :
Physics        67.0
Chemistry      72.0
Mathematics    48.0
dtype: float64
mode is :
Physics        66.0
Chemistry      51.0
Mathematics    48.0
Name: 0, dtype: float64

In [65]:
print("range is :\n",df.max() - df.min())
print("Variance is :\n", df.var())
print("Standard Deviation is :\n", df.std())

range is :
 Physics        89
Chemistry      92
Mathematics    93
dtype: int64
Variance is :
 Physics        645.578947
Chemistry      812.010526
Mathematics    780.934211
dtype: float64
Standard Deviation is :
 Physics        25.408246
Chemistry      28.495798
Mathematics    27.945200
dtype: float64

In [ ]:
# When you compare wrt mean that means
# students got fewer marks in Chemistry than in Physics. 

# Chemistry divergent data  means some students scoring  high whereas some are scoring low some . Physics marks are better and more similar for everyone.

In [ ]:
# Students did much better in Mathematics than Chemistry on average meaning there are not much difference in marks. 
# The marks in both subjects are spread out in a similar way, but in chemistry it's hard to score.